.header_container {
    display: flex;
    justify-content: space-evenly;
    box-shadow: #fbecec 4px 4px 0 1px;
    position: static;
    width: 100%;
    background: linear-gradient(180deg, #000000, #161616);
    height: 60px;
    font-family: cursive;
    z-index: 10;
    font-size: 14px;
}
    