.header_banding {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    /* background-color: #1E3A8A; */
    color: #FFFFFF; /* Văn bản trắng nổi bật */
}

.header_banding_logo {
    width: 40px;
    height: 40px;
    margin-right: 14px;
    border-radius: 36px;
    background: #FF4136; /* Màu đỏ tươi cho logo */
}

.header_banding_action {
    text-decoration: none;
    color: #FFFFFF; /* Văn bản trắng */
    text-transform: uppercase;
    margin: 0 20px;
    line-height: 50px;
    display: inline-block;
    position: relative;
    background-image: linear-gradient(to right, #FF4136, #A5D6A7 50%, #D4E4D5 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    height: 40px;
    margin-bottom: 10px;
    font-family: 'Roboto', Arial, sans-serif; /* Font hiện đại */
    font-weight: 500;
}

.header_banding_action:before {
    content: "";
    background: #FF4136; /* Đường gạch chân màu đỏ */
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.header_banding_action:hover {
    background-position: 0; 
}

.header_banding_action:hover::before {
    width: 100%; 
}