<div class="alert alert-error" *ngIf="errorMessage">
    {{ errorMessage }}
</div>
<div class="alert alert-success" *ngIf="successMessage">
    {{ successMessage }}
</div>

<!-- Loading Spinner -->
<div class="loading-spinner" *ngIf="isLoading">
    <div class="spinner"></div>
</div>

<div class="section-header">
<h3>Unpaid Tickets</h3>
    <p class="section-description">Your tickets does'nt paid</p>
</div>     

<div class="details_container">
    <div class="info_container">
        
            <div class="form-group-horizontal" *ngFor="let e of dataEvent">
                <img *ngIf="getSafeUrl(e?.image_url) as safeUrl" [src]="safeUrl" alt="Event Image" class="event-img-horizontal">
                <div class="event-details">
                    <h3 class="event-name">{{e.name}}</h3>
                    <p class="event-time">{{e.date_time_options[0].start_time | date: 'short'}}</p>
                    <p class="event-organizer">Organized by: <strong>{{e.organizer.name}}</strong></p>
                </div>
            </div>
        
    </div>
</div> 