<div class="user_infomation_container" *ngIf="currentUser">
    <div class="container">
        <aside class="sidebar">
            <h2 class="logo">nhnam</h2>
            <div class="user-info">
                <img *ngIf="getSafeUrl(user?.profileImage) as safeUrl" [src]="safeUrl" alt="User Avatar" class="avatar">
                <div>
                    <p class="username">{{user?.fullName}}</p>
                    <p class="role">{{user?.type}}</p>
                </div>
            </div>
            <nav class="menu">
                <ul>
                    <li [class.active]="changeTab === 'tab1'" (click)="changeTabSelected('tab1')">Active Tickets</li>
                    <li [class.active]="changeTab === 'tab2'" (click)="changeTabSelected('tab2')">Unpaid Tickets</li>
                    <li [class.active]="changeTab === 'tab3'" (click)="changeTabSelected('tab3')">Used Tickets</li>
                    <li [class.active]="changeTab === 'tab4'" (click)="changeTabSelected('tab4')">Expired Tickets</li>
                    <li [class.active]="changeTab === 'tab5'" (click)="changeTabSelected('tab5')">Cancelled Tickets</li>

                </ul>
            </nav>
            
        </aside>

        <main class="main-content">
            <!-- <header class="header">
                <h2>Tickets</h2>
            </header> -->

            <div class="tab-content">
                <form class="card" *ngIf="changeTab === 'tab1'" @tabAnimation>
                    <app-tab-content-tickets 
                    [dataEvent]="eventUpcoming"
                    [dataTicket]="ticket"
                    sectionHeader="Active Tickets"
                    subsectionHeader="These are the tickets you have purchased and are currently active.">
                    </app-tab-content-tickets>
                </form>
                <form class="card" *ngIf="changeTab === 'tab2'" @tabAnimation>
                    <app-tab-content-tickets 
                    [dataEvent]="eventUnPaid"
                    [dataTicket]="ticket"
                    sectionHeader="Unpaid Tickets"
                    subsectionHeader="These are the tickets you have purchased but have not yet paid for.">
                    </app-tab-content-tickets>
                </form>
                <form class="card" *ngIf="changeTab === 'tab3'" @tabAnimation>
                    <app-tab-content-tickets 
                    [dataEvent]="eventUsed"
                    [dataTicket]="ticket"
                    sectionHeader="Used Tickets"
                    subsectionHeader="These are the tickets you have purchased and have already used.">
                    </app-tab-content-tickets>
                </form>
                <form class="card" *ngIf="changeTab === 'tab4'" @tabAnimation>
                    <app-tab-content-tickets 
                    [dataEvent]="eventPart" 
                    [dataTicket]="ticket"
                    sectionHeader="Expired Tickets"
                    subsectionHeader="These are the tickets you have purchased but are no longer valid.">
                    </app-tab-content-tickets>
                </form>
                <form class="card" *ngIf="changeTab === 'tab5'" @tabAnimation>
                    <app-tab-content-tickets 
                    [dataEvent]="eventCancel" 
                    [dataTicket]="ticket"
                    sectionHeader="Cancelled Tickets"
                    subsectionHeader="These are the tickets you have purchased but have been cancelled.">
                    </app-tab-content-tickets>
                </form>
            </div>
            
            
        </main>
    </div>
</div>
<!-- <div class="layout"></div> -->