<div class="header_navbar">
    <div class="header_navbar_state" [ngClass]="{'hidden': !checkingForLogin , 'show': checkingForLogin}" (mouseenter)="showDropdown($event) " >

        <div class="header_navbar_login_user " >
            <div class="header_navbar_login_user_icon">
                <img *ngIf="sanitizeImageUrl(userCurrentImage) as safeUrl" [src]="safeUrl" [src]="safeUrl || 'https://res.cloudinary.com/dpiqldk0y/image/upload/v1744575077/default-avatar_br3ffh.png'" alt="" style="    height: 36px; width: 36px;     border-radius: 50%;">
            </div>
            <p class="header_navbar_login_user_name">{{userCurrentname || userCurrentEmail}}</p>
        </div>
        <div class="user_dropdown_menu"  [ngClass]="{'show_dropdown_menu' : isDropdownOpen , 'hidden' : !isDropdownOpen}" (mouseleave)="showDropdown($event)">
            <div class="options_menu border_line" (click)="goToManageEvent()">Manage Events</div>
            <div class="options_menu">Tickets</div>
            <div class="options_menu">Following</div>
            <div class="options_menu border_line" (click)="goToAccountSetting()">Account settings</div>
            <a class="header_navbar_logout" (click)="onSignOut()">
                LOGOUT
                <i class="fa-solid fa-right-from-bracket header_navbar_logout_icon"></i>
            </a>
        </div>
    </div>
    
    

    <a class="header_navbar_sign_up" [routerLink]="['/register']" (click)="onNavigate()" [ngClass]="{'hidden': checkingForLogin , 'show': !checkingForLogin}">
        SIGN UP
    </a>
    <a class="header_navbar_login" [routerLink]="['/login']" (click)="onNavigate()" [ngClass]="{'hidden': checkingForLogin , 'show': !checkingForLogin}">
        LOGIN
        <i class="fa-solid fa-right-to-bracket header_navbar_login_icon"></i>
    </a>
</div>