/* Global */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 400px;
    margin: 2rem auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
form>div {
    width: 100%;
}
form>div:first-of-type{
    margin: 40px 0;
}
.divider{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    position: relative;
    justify-content: center;
}

.or-span::after, .or-span::before{
    content: '';
    height: 1px;
    width: 40%;
    background-color: #9d9d9d;
    display: block;
    position: absolute;
    bottom: 50%;
}
.or-span::before {
    left: 0;
}
.or-span::after {
    right: 0;
}


h1 {
    margin-bottom: 2rem;
    color: #333;
    text-align: center;
    font-weight: 600;
}

mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #9d9d9d;
    margin: 1rem 0;
}
button {
    width: 100%;
    margin-top: 1rem;
}

.google-button{
    width: 100%
}

::ng-deep .mdc-button__label {
    display: flex;
    justify-content: space-between;
}

.google-button p {
    margin: 0;
}


.mat-form-field-suffix {
    display: flex;
    align-items: center;
    cursor: pointer;
}
div > h3 {
    display: flex;
    align-items: end;
}
span > i {
    padding-right: 16px;
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mat-form-field-flex {
    align-items: center;
}

div p {
    margin: 0;
}

input.mat-input-element {
    padding-right: 30px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

}
.forgot-password{
    color: black;
}
.title-send-mail{
    display: flex;
    align-items: end;
    margin-bottom: 20px;
}
.title-send-mail > div{
    height: 30px;
    width: 30px;
    border: 2px solid #b52424;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.title-send-mail > div > i{
    color: #9f3131;
}
/* State */

.active{
    display: block;
}

.hidden{
    display: none;
}

/* Reponsive  */

@media (max-width: 1200px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}

/*  */

.margin-bottom_0 {
  margin-bottom: 0 !important;
}

.margin-y_24 {
  margin: 24px 0 !important;
}

/* Register */





.register-form .divider .or-span::after,
.register-form .divider .or-span::before {
    width: 30%;
}
