<div class="login_form">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form_login_container">
        <div class="form_login_header">
          <h2>Login</h2>
        </div>
      
        <div class="form_login_body">
      
          <div class="form_login_block">
            <i class="fa-solid fa-user"></i>
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="Email"
              [class.invalid]="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)"
            />
            <label for="email" class="from_login_label_name">Email</label>
            <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)" class="error-message">
              <small *ngIf="emailCtrl.errors?.['required']">Email is required.</small>
              <small *ngIf="emailCtrl.errors?.['email']">Please enter a valid email.</small>
            </div>
          </div>
      
          <div class="form_login_block" style="position: relative;">
            <i class="fa-solid fa-lock"></i>
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              formControlName="password"
              placeholder="Password"
              [class.invalid]="passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)"
            />
            <label for="password" class="from_login_label_name">Password</label>
            <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()" style="cursor: pointer; position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
            <div *ngIf="passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)" class="error-message">
              <small *ngIf="passwordCtrl.errors?.['required']">Password is required.</small>
            </div>
          </div>
      
          <div class="form_login_forgot-register">
            <a href="#">Forgot Password?</a>
            <a [routerLink]="['/register']">Don't have an account? Sign up</a>
          </div>
      
          <div class="form_login_button">
            <button type="submit" class="btn login_btn" [disabled]="userForm.invalid">LOGIN</button>
          </div>
      
          <div *ngIf="errorMessage" class="error-message2">
            {{ errorMessage }}
          </div>
      
          <div class="login_form_social">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-google"></i></a>
          </div>
        </div>
      </form>
      
    <div class="background_rightfront">

    </div>

</div>